<template>
  <section class="add-todo">
    <form v-if="isFormVisible" class="add-todo__form" @submit.prevent="addTodo">
      <button class="close-button pointer" type="button" @click="hideForm">
        <i class="bi bi-x"></i>
      </button>
      <div class="text-input text-input--focus">
        <input v-model="todoText" class="input" v-autofocus />
      </div>
      <button class="button button--filled pointer">Add task</button>
    </form>
    <button v-else class="add-todo__show-form-button pointer" @click="showForm">
      <i class="bi bi-plus-lg"></i>
    </button>
  </section>
</template>

<script lang="ts">
import {defineComponent} from 'vue';
import {IFormState, ITodo} from '@/types/ITodo';

export default defineComponent({
  data(): IFormState {
    return {
      isFormVisible: false,
      todoText: '',
    }
  },
  methods: {
    showForm() {
      this.isFormVisible = true
    },
    hideForm() {
      this.isFormVisible = false
    },
    addTodo() {
      this.$emit('addTodoItem', {
        id: Date.now(),
        text: this.todoText,
        completed: false,
      });
      this.todoText = '';
    },
  },
  emits: {
    addTodoItem: (todo: ITodo) => todo,
  },
  directives: {
    autofocus: {
      mounted: (el) => el.focus()
    }
  }
})
</script>
