<template>
  <footer class="app-footer">Active: {{ stats?.active }} / Done: {{ stats?.done }}</footer>
</template>

<script lang="ts">

import {defineComponent, PropType} from 'vue';
import {IStats} from '@/types/ITodo';

export default defineComponent({
  props: {
    stats: {
      type: Object as PropType<IStats>
    }
  }
})

</script>
