<template>
  <aside class="app-filters">
    <section class="toggle-group">
      <button
          v-for="filter in filters"
          :key="filter"
          class="button pointer"
          :class="{'button--primary': activeFilter === filter}"
          @click="setFilter(filter)"
      >{{ filter }}</button>
    </section>
  </aside>
</template>

<script lang="ts">
import {defineComponent, PropType} from 'vue';
import {ClassFilterType, IFilterState} from '@/types/ITodo';

export default defineComponent({
  props: {
    activeFilter: {
      type: String as PropType<ClassFilterType>,
      required: true,
    },
  },
  data(): IFilterState {
    return {
      filters: ['All', 'Active', 'Done'],
    }
  },
  methods: {
    setFilter(filter: ClassFilterType) {
      this.$emit('setFilterEmit', filter);
    }
  },
  emits: {
    setFilterEmit: (filter: ClassFilterType) => filter,
  }
})
</script>
