<template>
  <ul class="todo-list">
    <AppTodoItem
        v-for="todo in todos"
        :key="todo.id"
        :todo="todo"
        @toggle-todo-emit="toggleTodo"
        @remove-todo-emit="removeTodo"
    />
  </ul>
</template>

<script lang="ts">
import {defineComponent, PropType} from 'vue';
import AppTodoItem from './AppTodoItem.vue';
import {ITodo} from '@/types/ITodo';

export default defineComponent({
  props: {
    todos: {
      type: Array as PropType<ITodo[]>
    }
  },
  components: {
    AppTodoItem,
  },
  methods: {
    toggleTodo(id: number) {
      this.$emit('toggleTodoEmit', id);
    },
    removeTodo(id: number) {
      this.$emit('removeTodoEmit', id);
    },
  },
  emits: {
    toggleTodoEmit: (id: number) => Number.isInteger(id),
    removeTodoEmit: (id: number) => Number.isInteger(id),
  },
})

</script>
