<template>
  <li class="todo-item" :class="{'todo-item--done': todo.completed}" @click="toggleTodo">
    <div class="todo-item__status">
      <i class="bi bi-check2"></i>
    </div>
    <span class="todo-item__text">{{ todo.text }}</span>
    <button class="todo-item__remove-button pointer" @click="removeTodo">
      <i class="bi bi-trash3"></i>
    </button>
  </li>
</template>

<script lang="ts">
import {defineComponent, PropType} from 'vue';
import {ITodo} from '@/types/ITodo';

export default defineComponent({
  props: {
    todo: {
      type: Object as PropType<ITodo>,
      required: true,
    }
  },
  methods: {
    toggleTodo() {
      this.$emit('toggleTodoEmit', this.todo.id);
    },
    removeTodo() {
      this.$emit('removeTodoEmit', this.todo.id);
    }
  },
  emits: {
    toggleTodoEmit: (id: number) => Number.isInteger(id),
    removeTodoEmit: (id: number) => Number.isInteger(id),
  },
})
</script>
