<template>

  <AppHeader />

  <AppFilters
    :active-filter="activeFilter"
    @set-filter-emit="setFilter"
  />

  <main class="app-main">
    <AppTodoList
      :todos="filteredTodos"
      @toggle-todo-emit="toggleTodo"
      @remove-todo-emit="removeTodo"/>
    <AppAddTodo @add-todo-item="addTodo" />
  </main>

  <AppFooter :stats="stats"/>

</template>

<script lang="ts">
import {defineComponent} from 'vue';
import AppHeader from './components/AppHeader.vue';
import AppFilters from './components/AppFilters.vue';
import AppTodoList from './components/AppTodoList.vue';
import AppAddTodo from './components/AppAddTodo.vue';
import AppFooter from './components/AppFooter.vue';
import {ClassFilterType, IState, IStats, ITodo} from '@/types/ITodo';

export default defineComponent({
  data(): IState {
    return {
      todos: [
        { id: 1, text: 'Task 1', completed: true },
        { id: 2, text: 'Task 2', completed: false },
        { id: 3, text: 'Task 3', completed: false },
        { id: 4, text: 'Task 4', completed: false },
        { id: 5, text: 'Task 5', completed: false },
      ],
      activeFilter: 'Done',
    }
  },
  computed: {
    filteredTodos(): ITodo[] {
      switch(this.activeFilter) {
        case 'Active': return this.activeTodos;
        case 'Done': return this.doneTodos;
        case 'All':
        default: return this.todos;
      }
    },
    stats(): IStats {
      return {
        active: this.activeTodos.length,
        done: this.doneTodos.length,
      }
    },
    activeTodos(): ITodo[] {
      return this.todos.filter(todo => !todo.completed);
    },
    doneTodos(): ITodo[] {
      return this.todos.filter(todo => todo.completed);
    }
  },
  components: {
    AppHeader,
    AppFilters,
    AppTodoList,
    AppAddTodo,
    AppFooter,
  },
  methods: {
    addTodo(todo: ITodo) {
      this.todos.push(todo);
    },
    toggleTodo(id: number): void {
      const targetTodo: ITodo | undefined = this.todos.find((todo: ITodo) => todo.id === id);
      if (targetTodo) {
        targetTodo.completed = !targetTodo.completed;
      }
    },
    removeTodo(id: number): void {
      this.todos = this.todos.filter((todo: ITodo) => todo.id !== id);
    },
    setFilter(filter: ClassFilterType) {
      this.activeFilter = filter;
    }
  }
})
</script>
